body {
    background: #000000;
    font-family: '', cursive, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
  }
  
  .bbm-photo {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 8px 20px rgba(211, 47, 47);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bbm-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(211, 47, 47);
  }

  h1 {
    font-size: 1.8rem;
    color: #000000;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-color: transparent; 
    color: #000000;
}

button:hover {
    transform: scale(1.1);
}

.yes {
    border-color: #000000;
    color: #000000;
}

.yes:hover {
    background-color: #d3d3d3;
    color: rgb(0, 0, 0);
}

.no {
    border-color: #000000;
    color: #000000;
}

.no:hover {
    background-color: #d3d3d3;
    color: black;
}

.response {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ff0000;
    display: none;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border: 5px solid #000000;
}

video:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}