@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #c6e2fe;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #84b8e3;
    padding: 15px;
    font-size: 18px;
    border-bottom: 3px solid #000000;
}

.brand {
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #2591c3;
    list-style: none;
    padding: 10px;
    top: 100%;
    left: 0;
    width: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 10px;
    background-color: #91d7ff;
}

.dropdown-menu li:nth-child(even) {
    background-color: #91d7ff;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.hero-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.hero img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}
