/* Drill 1 - Write your code solution below */
#container-d1 {
    display: grid;
    grid-template-columns: 47% 47%;
    }

/* Drill 2 - Write your code solution below */
#container-d2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    }

/* Drill 3 - Write your code solution below */
#container-d3 {
display: grid;
grid-template-areas: "1 2 3";
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "two three one";
    }
    #d4-cell1 {
    grid-area: one;
    }
    #d4-cell2 {
    grid-area: two;
    }
    #d4-cell3 {
    grid-area: three;
    }

/* Drill 5 - Write your code solution below */
#container-d5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "box-1 box-1"
    "box-2 box-3";
    }
    #d5-cell1 {
    grid-area: box-1;
    }
    #d5-cell3 {
    grid-area: box-2;
    }
    #d5-cell2 {
    grid-area: box-3;
    }

/* Drill 6 - Write your code solution below */
#container-d6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "box-1 box-2"
    "box-3 box-3";
}
#d6-cell1 {
    grid-area: box-1;
    }
    #d6-cell2 {
    grid-area: box-2;
    }
    #d6-cell3 {
    grid-area: box-3;
    }